<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="formularioLogin">

        <!-- Campo de Nombre -->
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>

        <!-- Campo de Contraseña -->
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input 
            [type]="passwordFieldType" 
            formControlName="password" 
            class="contraseña">
            <ion-button fill="clear" size="small" slot="end" (click)="togglePasswordVisibility()">
              <ion-icon [name]="passwordIcon"></ion-icon>
            </ion-button>
          </ion-input>

        </ion-item>

      </form>

      <br>

      <!-- Botón de Ingresar -->
      <ion-button expand="full" (click)="ingresar()">
        <ion-icon name="log-in"></ion-icon>
        Ingresar
      </ion-button>

      <!-- Botón de Google -->
      <ion-button expand="full" class="google-button" (click)="loginWithGoogle()">
        <ion-icon slot="start" name="logo-google"></ion-icon>
        Ingresar con Google
      </ion-button>

      <!-- Botón de Registrarse -->
      <ion-button expand="full" (click)="registrar()">
        Registrarse
      </ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>
