.google-button {
  background-color: #ff6666 !important; /* Rojo más claro */
  color: white !important; /* Texto blanco */
}

ion-button.google-button {
  --background: #ff6666 !important; /* Color rojo para el fondo del botón */
  --color: white !important; /* Asegura que el texto sea blanco */
}
