<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header>
    <ion-toolbar>
      <ion-title class="navBar">NeoApp</ion-title>
      <ion-title>Earth</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <!-- Botón para obtener la imagen de la ubicación actual -->
    <ion-button expand="full" (click)="obtenerImagenUsuario()">
      Quiero una selfie desde el espacio
    </ion-button>

    <!-- Mostrar el título del lugar seleccionado -->
    <h2 *ngIf="tituloLugarSeleccionado">{{ tituloLugarSeleccionado }}</h2>
    
    <!-- Mostrar la imagen satelital obtenida justo debajo del botón -->
    <div *ngIf="imagenSatelital" class="image-container">
      <img [src]="imagenSatelital" alt="Imagen satelital" class="earth-image"/>
    </div>

    <!-- Tabla de lugares de interés con botones -->
    <div class="container">
      <h2>Mira lugares de interés desde el espacio</h2>
      <ion-grid>
        <ion-row>
          <ion-col size="4" *ngFor="let lugar of lugaresInteres">
            <!-- Imagen del lugar de interés -->
            <img [src]="lugar.imagen" alt="{{ lugar.nombre }}" class="lugar-imagen"/>

            <!-- Botón para obtener la imagen satelital del lugar -->
            <ion-button expand="full" class="botonLugar" (click)="obtenerImagenDeLugar(lugar)">
              {{ lugar.nombre }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  </div>
</ion-content>
