<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title class="navBar">NeoApp</ion-title>
      <ion-title>Foto Astronomica del Dia</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content *ngIf="imagenDelDia">
    <div class="container">
    <ion-card-content>
      <h2>{{ imagenDelDia.title }}</h2>
    </ion-card-content>
    <ion-card>
      <img [src]="imagenDelDia.url" *ngIf="imagenDelDia.media_type === 'image'"/>
    </ion-card>
    </div>

    <ion-content *ngIf="!imagenDelDia">
      <p>Cargando...</p>
    </ion-content>

</ion-content>