<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Encabezado de la aplicación -->
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title class="navBar">NeoApp</ion-title>
      <ion-title>Foto Astronómica del Día</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Contenido principal que se muestra si 'imagenDelDia' está disponible -->
  <ion-content *ngIf="imagenDelDia; else loading">
    <div class="container">
      <ion-card>
        <ion-card-header>
          <!-- Título de la imagen del día -->
          <ion-card-title>{{ imagenDelDia.title }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <!-- Muestra la imagen si el tipo de medio es una imagen -->
          <img [src]="imagenDelDia.url" *ngIf="imagenDelDia.media_type === 'image'"/>
          <!-- Mensaje alternativo si el tipo de medio es un video -->
          <p *ngIf="imagenDelDia.media_type === 'video'">Esta es un video, por favor revisa el enlace.</p>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>

  <!-- Plantilla de carga que se muestra si 'imagenDelDia' no está disponible -->
  <ng-template #loading>
    <p>Cargando...</p>
  </ng-template>
</ion-content>
