/* Estilos personalizados para la aplicación de la NASA */
body {
  background: linear-gradient(135deg, #001f3f, #000000);
    color: #0b3d91; 
    font-family: 'Orbitron', sans-serif; 
    text-align: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 16px; 
    width: 100%; 
    background: linear-gradient(135deg, #001f3f, #000000);
  }
  
  .date-picker-container {
    width: 100%; 
    text-align: center; 
  }
  
  .date-label {
    margin-bottom: 8px; 
    color: #FFFFFF; 
    font-family: 'Orbitron', sans-serif; 
  }
  
  ion-datetime {
    --color: #FFFFFF;
    --border-radius: 10px; 
    margin: 0 auto; 
    width: 100%; 
    max-width: 300px; 
    margin-bottom: 16px; 
    font-family: 'Orbitron', sans-serif; 
  }
  
  .selected-date {
    color: #FFFFFF; 
    margin-top: 8px; 
    font-family: 'Orbitron', sans-serif; 
  }
  
  .search-button {
    background-color: #0b3d91;
    color: white; 
    margin-bottom: 16px; 
    font-family: 'Orbitron', sans-serif; 
  }
  
  .result-label {
    color: #FFFFFF;
    margin-top: 16px;
    font-family: 'Orbitron', sans-serif; 
  }

  .header {
    background-color: #0b3d91;
  }

  .image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .earth-image {
    width: 50%;  // Mitad del tamaño de la pantalla
    height: auto;
  }
  
  h2 {
    color: #FFFFFF;
    font-family: 'Orbitron', sans-serif; 
  }

  .info {
    color: #FFFFFF;
    font-family: 'Orbitron', sans-serif; 
  }

  .lugar-imagen {
    width: 100px;   /* Ajusta el tamaño según sea necesario */
    height: 100px;
    object-fit: cover;  /* Para que la imagen no se distorsione */
    margin-bottom: 10px;  /* Espacio entre la imagen y el botón */
  }