/* Estilos personalizados para la aplicación de la NASA */
body {
    background-color: #001f3f; /* Fondo azul oscuro */
    color: #0b3d91; /* Texto blanco */
    font-family: 'Orbitron', sans-serif; /* Tipografía de estilo futurista */
    text-align: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos horizontalmente */
    padding: 16px; /* Espaciado interno */
    width: 100%; /* Asegúrate de que el contenedor ocupe el 100% del ancho */
  }
  
  .date-picker-container {
    width: 100%; /* Ocupa todo el ancho */
    text-align: center; /* Centra el texto */
  }
  
  .date-label {
    margin-bottom: 8px; /* Espacio entre la etiqueta y el calendario */
    color: #0b3d91; /* Cambia el color a verde */
    font-family: 'Orbitron', sans-serif; /* Mantiene la tipografía de estilo futurista */
  }
  
  ion-datetime {
    --color: #0b3d91; /* Color del texto */
    --border-radius: 10px; /* Bordes redondeados */
    margin: 0 auto; /* Centra el calendario */
    width: 100%; /* Asegúrate de que ocupe todo el ancho disponible */
    max-width: 300px; /* Establece un ancho máximo para el calendario */
    margin-bottom: 16px; /* Espacio debajo del calendario */
    font-family: 'Orbitron', sans-serif; /* Mantiene la tipografía de estilo futurista */
  }
  
  .selected-date {
    color: #0b3d91; /* Color del texto de la fecha seleccionada */
    margin-top: 8px; /* Espacio entre la fecha seleccionada y el botón */
    font-family: 'Orbitron', sans-serif; /* Mantiene la tipografía de estilo futurista */
  }
  
  .search-button {
    background-color: #0b3d91; /* Color de fondo azul para botones */
    color: white; /* Texto blanco */
    margin-bottom: 16px; /* Margen debajo del botón */
    font-family: 'Orbitron', sans-serif; /* Mantiene la tipografía de estilo futurista */
  }
  
  .result-label {
    color: #0b3d91; /* Color blanco para la etiqueta de resultados */
    margin-top: 16px; /* Espacio encima del texto de resultados */
    font-family: 'Orbitron', sans-serif; /* Mantiene la tipografía de estilo futurista */
  }
  