/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";


/* Estilos personalizados para la aplicación de la NASA */
body {
  background: linear-gradient(135deg, #001f3f, #000000);
    color: #0b3d91; 
    font-family: 'Orbitron', sans-serif; 
    text-align: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 16px; 
    width: 100%; 
    background: linear-gradient(135deg, #001f3f, #000000);
  }
  
  .date-picker-container {
    width: 100%; 
    text-align: center; 
  }
  
  .date-label {
    margin-bottom: 8px; 
    color: #FFFFFF; 
    font-family: 'Orbitron', sans-serif; 
  }
  
  ion-datetime {
    --color: #FFFFFF;
    --border-radius: 10px; 
    margin: 0 auto; 
    width: 100%; 
    max-width: 300px; 
    margin-bottom: 16px; 
    font-family: 'Orbitron', sans-serif; 
  }
  
  .selected-date {
    color: #FFFFFF; 
    margin-top: 8px; 
    font-family: 'Orbitron', sans-serif; 
  }
  
  .search-button {
    background-color: #0b3d91;
    color: white; 
    margin-bottom: 16px; 
    font-family: 'Orbitron', sans-serif; 
  }
  
  .result-label {
    color: #FFFFFF;
    margin-top: 16px;
    font-family: 'Orbitron', sans-serif; 
  }

  .header {
    background-color: #0b3d91;
  }

  .image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .earth-image {
    width: 50%;  // Mitad del tamaño de la pantalla
    height: auto;
  }
  
  h2 {
    color: #FFFFFF;
    font-family: 'Orbitron', sans-serif; 
  }

  .info {
    color: #FFFFFF;
    font-family: 'Orbitron', sans-serif; 
  }

  .lugar-imagen {
    width: 100px;   /* Ajusta el tamaño según sea necesario */
    height: 100px;
    object-fit: cover;  /* Para que la imagen no se distorsione */
    margin-bottom: 10px;  /* Espacio entre la imagen y el botón */
  }

  .navBar {
    font-family: 'Orbitron', sans-serif; 
    font-size: x-large;
  }

  .chiquito {
    --padding-start: 1px;
  --padding-end: 1px;
  --padding-top: 1px;
  --padding-bottom: 1px;
  font-size: 10px; 
  height: 24px; 
  min-height: 24px; 
  }

  .cerrarSesionChiquito {
    font-size: 12px; 
  }

  .botonLugar {
    font-size : 10px;
  }
  .button-container {
    display: flex; /* Usa flexbox */
    justify-content: center; /* Centra el contenido horizontalmente */
    margin-top: 16px; /* Espacio adicional si es necesario */
  }
  
  .contraseña {
    min-height: 1cap; /* Altura mínima del campo */
    max-height: 20px; /* Altura máxima del campo */
    font-size: 10px; /* Tamaño de fuente */
    padding: 4px; /* Espaciado interno */
    margin-top: 0; /* Margen superior para alineación */
  }
  
  
  /* Si necesitas ajustar el ion-item también */
  ion-item {
    --min-height: 56px; /* Establece una altura mínima adecuada para el ion-item */
    padding: 0; /* Elimina el padding extra */
  }
  